---
layout: documentation
---
<div class="row-fluid">
    <div class="span2" style="">
        <div style="position:fixed;">
            <p style="margin-top:30px; font-size:20px; font-weight:bold;">Navigation</p>
            <ul class="documentation-nav-list">
                <li><a href="{{ documentation_url }}">Editor</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ documentation_url }}sceneeditor.html">Scene Editor</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ documentation_url }}modeleditor.html">Model Editor</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ documentation_url }}imageeditor.html">Image Editor</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ documentation_url }}materialeditor.html">Material Editor</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ documentation_url }}texteditor.html">Text Editor</a></li>
            </ul>
        </div>
    </div>
    <div class="span10">
        {{ content }}
    </div>
</div>