---
layout: documentation
---
<style>
    .shortcuts-table {
        margin-left:   16px;
        margin-top:    16px;
        margin-bottom: 16px;
    }
    .shortcuts-table td {
        padding: 2px 8px;
    }
</style>
<div class="row-fluid">
    <div class="span2" style="">
        <div class="docuemtnation-nav-list-container">
            <p style="margin-top:30px; font-size:20px; font-weight:bold;">Navigation</p>
            <ul class="documentation-nav-list">
                <li><a href="{{ site.baseurl }}/documentation/editor">Editor</a></li>
                <li><a href="{{ site.baseurl }}/documentation/scripting">Scripting Reference</a></li>
                <li><a href="{{ site.baseurl }}/documentation/cpp">C++ Reference</a></li>
                <li><a href="{{ site.baseurl }}/documentation/misc">Miscellaneous References</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ site.baseurl }}/documentation/misc/limitations">Known Limitations</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ site.baseurl }}/documentation/misc/fileformats">Supported File Formats</a></li>
                <li class="documentation-nav-item-inner"><a href="{{ site.baseurl }}/documentation/misc/openglnotes">OpenGL Notes</a></li>
                <li><a href="{{ site.baseurl }}/documentation/tutorials">Tutorials</a></li>
                <li><a href="{{ site.baseurl }}/documentation/examples">Examples</a></li>
            </ul>
        </div>
    </div>
    <div class="span8">
        {{ content }}
    </div>
    <div class="span2">
    </div>
</div>